.modal--open {
  .modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 38rem;
    width: 18rem;
    border-radius: 1rem;
    @media (min-width: $tablet) {
      height: 35rem;
      width: 40rem;
    }
    @media (min-width: $desktop) {
      height: 40rem;
      width: 45rem;
    }
    @media (min-width: $monitor) {
      height: 40rem;
      width: 65rem;
    }
    .modal__header {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      margin: auto 0;
      border-bottom: .1rem solid #ccc;
      h1 {
        margin: 0;
        margin-right: auto;
        font-size: 1.2rem;
        margin-left: .25rem;
        text-overflow: ellipsis;
        padding: .5rem;
        white-space: nowrap;
        overflow: hidden;
        @media (min-width: $tablet) {
          margin: auto auto 1rem 2rem;
          margin-left: 2rem;
          font-size: 2rem;
        }
      }
      .modal__button--close {
        display: block;
        position: relative;
        color: black;
        font-size: 2rem;
        top: 0rem;
        right: 0.5rem;
        @media (min-width: $tablet) {
          font-size: 2.5rem;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .modal__content {
      height: 90%;
      width: 90%;
      @media (min-width: $tablet) {
        height: 100%;
        width: 100%;
      }
      .modal-icons {
        position: absolute;
        width: 75%;
        .modal__button--add,
        .modal__button--delete {
          margin: auto 2rem 1rem auto;
          font-size: 3rem;
          right: 0.25rem;
          position: relative;
          z-index: 99999;
          top: 29.75rem;
          left: 10rem;
          @media (min-width: $tablet) {
            left: 30rem;
            font-size: 3rem;
            top: 24.5rem;
          }
          @media (min-width: $desktop) {
            left: 35rem;
            font-size: 3rem;
            top: 29rem;
          }
          @media (min-width: $monitor) {
            left: 55rem;
          }
        }
        &:hover {
          cursor: pointer;
        }
        .modal__button--right,
        .modal__button--left {
          position: relative;
          color: black;
          z-index: 11;
          font-size: 3rem;
          top: 11rem;
          @media (min-width: $tablet) {
            font-size: 5rem;
          }
          &:hover {
            cursor: pointer;
            }
          }
        .modal__button--left {
          right: 1.25rem;
          @media (min-width: $tablet) {
            right: 0.5rem;
          }
        }
        .modal__button--right {
          left: 13.1rem;
          @media (min-width: $tablet) {
            left: 33.25rem;
          }
          @media (min-width: $desktop) {
            left: 38.25rem;
          }
          @media (min-width: $monitor) {
            left: 58.25rem;
          }
        }
      }
    }
  }
}
