body {
  background: yellow;
}

.container__header {
  display: flex;
  justify-content: flex-start;
  h1 {
    padding: 0 1em;
    &:first-of-type {
      margin-right: auto;
    }
  }
}

.container__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}